{% extends 'base_leaders.html' %}
{% block title %}Главная страница{% endblock%}
{% block h1 %}Главная страница{% endblock%}

{% block main %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tasks me-1"></i>
        Открытые заявки
    </div>

    <div class="card-body">
        <p>Например вывод последних открытых заявок и заявок для подтверждения</p>
        <ul>
            <li>...</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </div>

</div>
{% endblock %}