{% extends 'base_admin.html' %}
{% block title %}Создание пользователя{% endblock%}
{% block h1 %}Создание пользователя{% endblock%}

{% block main %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>
        Создание пользователя
    </div>

    <div class="card-body">
    <div class="container-fluid px-4">
        <form action="./create_user" method="post">
            <div class="form-group row mt-2">
                <label for="username" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-5">
                    <input type="text" id="username" name="username" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-5">
                    <input type="password" id="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="name_0" class="col-sm-2 col-form-label">Фамилия:</label>
                <div class="col-sm-5">
                    <input type="text" id="name_0" name="name_0" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="name_1" class="col-sm-2 col-form-label">Имя:</label>
                <div class="col-sm-5">
                    <input type="text" id="name_1" name="name_1" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="name_2" class="col-sm-2 col-form-label">Отчество:</label>
                <div class="col-sm-5">
                    <input type="text" id="name_2" name="name_2" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="tel" class="col-sm-2 col-form-label">Рабочий телефон:</label>
                <div class="col-sm-5">
                    <input type="text" id="tel" name="tel" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="tel_m" class="col-sm-2 col-form-label">Мобильный телефон:</label>
                <div class="col-sm-5">
                    <input type="text" id="tel_m" name="tel_m" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="division" class="col-sm-2 col-form-label">Подразделение:</label>
                <div class="col-sm-5">
                    <input type="text" id="division" name="division" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="building" class="col-sm-2 col-form-label">Здание:</label>
                <div class="col-sm-5">
                    <input type="text" id="building" name="building" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="cabinet" class="col-sm-2 col-form-label">Кабинет:</label>
                <div class="col-sm-5">
                    <input type="text" id="cabinet" name="cabinet" class="form-control">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="user_type_id" class="col-sm-2 col-form-label">Тип пользователя:</label>
                <div class="col-sm-5">
                    <select id="user_type_id" name="user_type_id" class="form-control">
                        {% for type in types %}
                        <option value="{{ type.id }}">{{ type.type_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-5 offset-sm-2">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</div>
</div>


{% endblock %}